[Desktop Entry]
Type=Service
Name=UmaOS Sky Pink
Comment=UmaOS default wallpaper pack

[X-KDE-PluginInfo]
Name=UmaOS
Author=UmaOS Project
License=CC0
