[SddmGreeterTheme]
Name=UmaOS Race
Description=UmaOS green and pink login theme with frosted glass card
Author=UmaOS Project
License=CC0
Type=sddm-theme
Version=0.1.0
MainScript=Main.qml
Theme-Id=umaos-race
Theme-API=2.0
