[Desktop Entry]
Type=Application
Version=1.0
Name=Welcome to UmaOS
Comment=Show welcome dialog on first login
Exec=/usr/local/bin/umao-welcome
Terminal=false
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=2
